<div class="bonds">
  <ng-container *ngFor="let bond of bonds.bonds">
    <input
      type="number"
      class="number"
      [readOnly]="!bond.isMasked"
      [value]="bond.isMasked ? null : bond.value"
      (input)="setAnswer($event)"
      [nbAutoFocus]="bond.isMasked"
      [disabled]="state !== State.Waiting"
      placeholder="?"
      min="1"
      max="100"
      step="1"
    />
    <hr class="spoke" />
  </ng-container>
  <input
    type="number"
    class="number total"
    [readOnly]="!bonds.root.isMasked"
    [value]="bonds.root.isMasked ? null : bonds.root.value"
    (input)="setAnswer($event)"
    [nbAutoFocus]="bonds.root.isMasked"
    [disabled]="state !== State.Waiting"
    placeholder="?"
    min="1"
    max="100"
    step="1"
  />
</div>
<button
  type="button"
  [disabled]="answer === null || state !== State.Waiting"
  #check
  (click)="checkAnswer(check)"
>
  Check
</button>
<footer
  class="message"
  @slideUp
  *ngIf="state !== State.Waiting"
  [class.correct]="state === State.Correct"
  [class.incorrect]="state === State.Incorrect"
>
  <h2 [ngSwitch]="state">
    <ng-container *ngSwitchCase="State.Correct">That's right!</ng-container>
    <ng-container *ngSwitchCase="State.Incorrect">Oops. That's not quite right</ng-container>
  </h2>
  <div [innerHTML]="bonds | answer"></div>
</footer>
