<div
  class="bonds"
  [class.answer-correct]="state === State.Correct"
  [class.answer-incorrect]="state === State.Incorrect || state === State.IncorrectReveal"
>
  <ng-container *ngFor="let bond of bonds.bonds">
    <input
      type="number"
      class="number"
      [readOnly]="!bond.isMasked"
      [value]="bond.isMasked ? null : bond.value"
      (input)="setAnswer($event)"
      [nbAutoFocus]="bond.isMasked"
      [disabled]="state !== State.Waiting"
      placeholder="?"
      min="1"
      max="100"
      step="1"
    />
    <hr class="spoke" />
  </ng-container>
  <input
    type="number"
    class="number total"
    [readOnly]="!bonds.root.isMasked"
    [value]="bonds.root.isMasked ? null : bonds.root.value"
    (input)="setAnswer($event)"
    [nbAutoFocus]="bonds.root.isMasked"
    [disabled]="state !== State.Waiting"
    placeholder="?"
    min="1"
    max="100"
    step="1"
  />
</div>
<button
  class="button--check"
  type="button"
  [disabled]="answer === null || state !== State.Waiting"
  #check
  (click)="checkAnswer(check)"
>
  Check answer
</button>
<footer class="message" @slideUp *ngIf="state !== State.Waiting">
  <div
    class="body"
    [class.correct]="state === State.Correct"
    [class.incorrect]="state === State.Incorrect || state === State.IncorrectReveal"
  >
    <h2>
      <ng-container *ngIf="state === State.Correct; else incorrect">Correct answer!</ng-container>
      <ng-template #incorrect>Incorrect answer</ng-template>
    </h2>
    <p *ngIf="state !== State.Incorrect" [innerHTML]="bonds | answer"></p>
    <div class="buttons" [ngSwitch]="state" [class.multi]="state === State.Incorrect">
      <button type="button" (click)="done()" *ngSwitchCase="State.Correct">Next</button>
      <ng-container *ngSwitchCase="State.Incorrect">
        <button type="button" (click)="tryAgain()">Try again</button>
        <button type="button" (click)="state = State.IncorrectReveal" class="secondary">
          Show answer
        </button>
      </ng-container>
      <button type="button" (click)="done()" *ngSwitchCase="State.IncorrectReveal">Next</button>
    </div>
  </div>
</footer>
