@use 'sass:math';
@import 'material-color';

@mixin build-bonds($count, $offset, $delta) {
  $r: 8rem;
  @for $i from 1 through $count {
    $theta: $offset + $delta * ($i - 1);

    .number:nth-of-type(#{$i}) {
      transform: translate($r * math.cos($theta), $r * math.sin($theta));
    }

    .spoke:nth-of-type(#{$i}) {
      transform: rotateZ($theta);
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
  padding: 1rem;

  &.has-2-bonds {
    @include build-bonds(2, 225deg, 90deg);
  }

  &.has-3-bonds {
    @include build-bonds(3, 210deg, 60deg);
  }

  &.has-4-bonds {
    @include build-bonds(4, 180deg, 60deg);
  }

  &.has-5-bonds {
    @include build-bonds(5, 270deg, 72deg);
  }

  &.has-6-bonds {
    @include build-bonds(6, 0, 60deg);
  }
}

.bonds {
  flex: 1 0 auto;
  position: relative;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.spoke {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 50%;
  width: 8rem;
  border: 0;
  border-top: solid 1px material-color(blue-grey, 400);
  margin: 0;
}

input {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: inherit;
}

input[type='number'] {
  $size: 3.5rem;
  background: material-color(blue-grey, 900);
  height: $size;
  width: $size;
  appearance: none;
  border-radius: 50%;
  text-align: center;
  border: solid 2px material-color(blue-grey, 400);
  color: material-color(blue-grey, 100);
  padding: 0;
  transition: background-color 0.15s ease-in-out;
  margin: {
    top: -0.5 * $size;
    left: -0.5 * $size;
  }

  &::placeholder {
    color: material-color(teal, A400);
  }

  &:focus {
    outline: none;
  }

  &.total {
    $size: 4rem;
    font-size: 1.5rem;
    border: solid 4px material-color(blue-grey, 400);
    width: $size;
    height: $size;
    margin: {
      top: -0.5 * $size;
      left: -0.5 * $size;
    }
  }

  &:not([readOnly]) {
    font-size: 1.5rem;
    color: rgba(black, 0.87);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.8);
    border: solid 2px material-color(blue, A200);
    background-color: #fff;

    .answer-correct & {
      border-color: material-color(teal, A200);
    }

    .answer-incorrect & {
      border-color: material-color(red, A200);
    }

    &.total {
      border-width: 4px;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.button--check {
  background: material-color(green, A200);
  border: 2px solid material-color(green, A400);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  &:hover,
  &:focus {
    border-color: material-color(green, A700);
  }

  &:disabled {
    background-color: material-color(blue-grey, 600);
    border-color: material-color(blue-grey, 600);
    color: material-color(blue-grey, 800);
    box-shadow: none;
  }
}

.message {
  position: fixed;
  width: 100%;
  z-index: 4;
  bottom: 0;
  left: 0;
  background: material-color(blue-grey, 800);

  .body {
    padding: 1rem;
  }

  .correct {
    color: material-color(green, A200);
    background-color: rgba(105, 240, 174, 0.2);

    button {
      border-color: material-color(green, A400);
      background-color: material-color(green, A200);

      &:hover,
      &:focus {
        border-color: material-color(green, A700);
      }
    }
  }

  .incorrect {
    color: material-color(red, 100);
    background-color: rgba(255, 82, 82, 0.3);

    button {
      border-color: material-color(red, A400);
      background-color: material-color(red, A200);

      &:hover,
      &:focus {
        border-color: material-color(red, A700);
      }
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 1rem;
  }

  p {
    margin: 0 0 1rem;
  }

  .buttons {
    display: flex;
    align-items: center;

    button {
      flex: 1 0 auto;
      padding: {
        top: 0.5rem;
        bottom: 0.5rem;
      }
    }
  }
}

.multi {
  button:first-child {
    margin-inline-end: 0.25rem;
  }

  button:last-child {
    margin-inline-start: 0.25rem;
  }
}
