@import 'styles/material-color';

$color-mint: material-color(green, A200);

$font-stack: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
  Apple Color Emoji, Segoe UI Emoji;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: material-color(blue-grey, 800);
  color: #fff;
  font-family: $font-stack;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

%control {
  appearance: none;

  font-size: inherit;
  font-family: $font-stack;
  font-weight: 500;
  text-transform: uppercase;

  color: rgba(black, 0.87);

  border: none;
  outline: none;

  padding: 0.5rem 1rem;
  min-width: 6rem;
}

form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

fieldset {
  border: none;
  margin: 0 1rem 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: block;
  margin-bottom: 0.25rem;

  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.875rem;

  color: rgba(255, 255, 255, 0.73);
}

.select {
  min-width: 6rem;
  background: #fff;

  border-radius: 0.25rem;
  border: solid 1px material-color(blue-grey, 100);

  position: relative;

  .caret {
    position: absolute;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: rgba(black, 0.87);
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 0.875rem;
    user-select: none;

    z-index: 1;
  }
}

select {
  @extend %control;

  width: 100%;
  background: transparent;
  position: relative;
  z-index: 2;

  &:focus {
    box-shadow: 0 0 0 2px material-color(green, A200) inset;
  }
}

button {
  @extend %control;

  background: $color-mint;

  border-radius: 0.75rem;
  border: 3px solid material-color(green, A400);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  transition: all 0.25s ease-in-out;

  padding: {
    top: 5px;
    bottom: 5px;
  }

  &:hover,
  &:focus {
    border-color: material-color(green, A700);
  }

  &:disabled {
    background-color: material-color(blue-grey, 600);
    border-color: material-color(blue-grey, 600);
    color: material-color(blue-grey, 800);
    box-shadow: none;
  }
}
